body{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(162, 234, 245);
}
.box2{
    margin-top: 100px;
    margin-left: 30%;
    border: 1px solid black;
    width: 800px;
    height: 400px;
    background-color: rgb(216, 219, 221);
    border-radius: 20px;
}
.box2_1{
    float:left;
    width: 410px;
    margin: 10px;
    height: 350px;
    
}
.box2_2{
    float:right;
    border-radius: 15px;
    width: 350px;
    margin: 10px;
    height: 380px;
    background-color: cadetblue;
}

.reset{
    background-color:rgb(16, 212, 222) ;
}
button{
    background-color: blanchedalmond;
}